.dashboard-buttons {
    display: flex;          /* Flex container */
    gap: 10px;              /* Buttons ke beech gap */
    align-items: center;    /* Vertical alignment center */
}
button.btn.oe_stat_button.btn-primary {
    padding: 30px;
    span.o_stat_info.o_stat_value {
    margin-right: 5px;
}

}

button.btn.oe_stat_button.btn-success {
    padding: 30px;
}
button.btn.oe_stat_button.btn-success {
    padding: 30px;
    span.o_stat_info.o_stat_value {
    margin-right: 4px;
}
}
button.btn.oe_stat_button.btn-warning {
    padding: 30px;
}

.dashboard-partner-card {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #f7eda3;
    box-shadow: 1px 1px 3px #ccc;
    margin-bottom: 15px;
    width: 50%;
}

.dashboard-partner-card .o_form_label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.dashboard-partner-card .o_field_widget {
    width: 100%;
}
button.btn.oe_stat_button {
    padding: 30px;
    background: lightblue;
    color: black;
    border: 2px solid aqua;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;   /* smooth hover effect */
    cursor: pointer;
}

/* Hover effect */
button.btn.oe_stat_button:hover {
    background: deepskyblue;   /* hover color */
    color: white;              /* text color */
    transform: scale(1.05);    /* zoom-in effect */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);  /* shadow for professional look */
}
.o_col {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
